body {
	background-image: url(Background.jpg);
	background-size: cover;
	background-color: pink;
    
}
.title{
	text-align: center;
}
.box{
	width: 50%;
	height: auto;
    margin: 11% auto;
    box-shadow: 10px 10px 20px black;    
}
.box .up{
	float: top;
	width: auto;
	height: 150px;
	background: url(bg.jpg);
	background-color: #1a535c;
    background-size: cover;
    background-position: center;
    text-align: center;  	
}

.box .down{
	padding:40px 15%;
	background:rgba(255,255,255);
	line-height: 40px;
}

.form{
	margin: 50px 70px;
	font-size: 15px;
	font-variant: 
 }

.form input{
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	background:rgba(17,30,108,0.0);
	width: 100%; 

}
.form input[type="submit"]{
	margin: 20px 50%;
	transform: translate(-50%);
	background-color: white;
	border-radius: 20px;
	width:20%;
	height: 40px;
	border: 1px solid #152238;
	background-color: #23395d;
	background-color: #1a535c;
	color: white;
	font-size: 18px;
}
.heading{
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color:white;
}
.form input[type="text" ]{
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	background:rgba(17,30,108,0.0);
}