
body {
	background-image: url(Background.jpg);
	background-size: cover;

    
}
.title{
	text-align: center;
}
.box{
	width: 50%;
	height: auto;
    margin: 6% auto;
    box-shadow: 10px 10px 20px black;    
}
.box .up{
	float: top;
	width: auto;
	height: 150px;
	background: url(bg.jpg);
	background-color: #DE14E1;
    background-size: cover;
    background-position: center;
    text-align: center;  	
}

.box .down{
	padding:10% 15% 7%;
	background:#FDC5F5;
	line-height: 40px;

}

.form{
	margin: auto;
	font-size: 15px;
	font-variant: 
 }

.form input{
	height: 30px;
	border: none;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	background:rgba(17,30,108,0.0);
	width: 100%; 

}
.form input[type="submit"]{
	margin: 20px 50%;
	transform: translate(-50%);
	border-radius: 20px;
	width:20%;
	height: 40px;
	border: 1px solid #4a074b;
	background-color: #DE14E1;
	color: #FEEBFB;
	font-size: 18px;
}
.heading{
	font-family: "Berkshire Swash","ALGERIAN", sans-serif;
	font-size: 50px;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color:#FEEBFB;
}
.form input[type="text" ]{
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	background:rgba(17,30,108,0.0);
}